.pac-target-input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px !important;
  border: none;
  border-bottom: 1px solid #80808024;
  margin-top: 0px;
  box-shadow: none !important;
}
.mapOuterWrapper {
  height: auto;
}
.loadingElement {
  height: 100%;
  /* margin-top: 5vh; */
}
.containerElement {
  height: 70vh;
  padding: 5px;
}
.containerElement1 {
  height: 70vh;
  padding-top: 20px;
  padding: 5px;
  margin-top: 40px;
}
.top-nav {
  height: 10vh;
}

.avoid-clicks {
  pointer-events: none;
}
.disable,
.avoid-clicks input {
  background: #e9ecef;
}
